<section class="layout-wrap">
  <div class="layout-title">
    <span><%= page.title %></span>
  </div>
  <div class="layout-wrap-inner tag-cloud">
    <% if(site.tags.length) { %>
      <!--<%- list_categories(site.tags) %>-->
      <%- tagcloud({min_font: 14, max_font: 22}) %> <!-- by_blair_0724 -->
    <% } %>
  </div>
</section>
